
.container-fluid{
    height:100%;
    overflow:auto;
    background-color:#F5F5F5;
}

/*table */
th{
    white-space: nowrap;
    text-align: center;
    font-style: italic;
    color: #26B7D4;
    font-size: 20px;
}
td{
    white-space: nowrap;
}

.desginDiv{
    background-color: white;
    min-height: 400px;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    overflow: auto;
}
.iconPage{
    color: #26B7D4;
}
 span{
    color:#26B7D4;
    font-size: x-large;
}

