.top{
    height:100%;
    overflow:auto;
    background-color:#F5F5F5;
 
}
.styleDiv{
    background-color:white ;border-radius: 5px;padding:15px;margin-bottom:20px;
}
.title{
    color:#26B7D4; font-size: x-large;
}
.bleu{
    color:#26B7D4 ; font-size:50
}
.marginBottom{
    margin-top: 15px;
}
.divalert{
    margin-bottom: 20px;
    height: 32px;
    background-color: #ff0000ab;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
	font-size: 30px;
	height: 64px;
}
.divalert_Sucess{
    margin-bottom: 20px;
    height: 32px;
    background-color: #4caf50a3;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
	font-size: 30px;
	height: 64px;
}