/** ======================  tous les couleur ==============================**/

:root{
    --primary:#111B54;
    --light:#ffffff;
    --grey:#efefef;
}
.w{
    color:#ffffff;
}
body{ overflow: hidden;/**scrole**/
    font-weight: 300; color:#111B54; list-style: 26px;font-family: 'Roboto', sans-serif; }

/** ======================  base css ==============================**/


/** ======================  menu==============================**/
#sidbar-container{
    min-height: 100vh;
    background-color:	#585858;
}
a:hover{ text-decoration: none; }

#sidbar-container .logo{
 padding: .875rem 1.25rem;

}
#sidbar-container .menu{

    width:18rem;
}
.bg-light{
   background-color:#ffffff ;
}
.img{
    max-width:  40px;
    max-height: 40px;
}
 
.fa{
    font-size: 29px; 
    padding: 10px 12px;
    color: #26B7D4;
}
.paddingMenu{
    padding:5px 5px;
}
#content{
    overflow-y: auto;
    height:100vh;
    padding-bottom: 5rem;
}
/**----------- ---------**/
.labelFor{
    color: #26B7D4;
    
    font-size: x-large;
}