*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Flamenco', cursive;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/shipping.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

ul li a{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
}

.row{
	max-width: 1180px;
	margin: 0 auto;
}

.logo{
	height: 80px;
	width: auto;
	float: left;
	margin-top: 20px;
}

h5{
	color:#de9a59;
}

h2{
	color: #fff;
	font-size: 240%;  
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: lighter;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2;
}
.BorderDiv{
	border-radius: 20px 20px;
}
.Marginbottom{
	margin-bottom: 20px;
}
div a{
  color:#de9a59;
}

.mobile-icon{display: none;}


/*//////// Responsive queries //////////*/

@media only screen and (max-width: 1180px){


	.row{
		width:100%;
		padding:0 2%;
	}
}

@media only screen and (max-width: 998px){
	h2{font-size: 200%;}
}

@media only screen and (max-width: 768px){
	h2{font-size: 180%;}	

}

@media only screen and (max-width: 480px){
	

	h2{font-size: 180%;}
}
.divalert{
    margin-bottom: 20px;
    height: 32px;
    background-color: #ff0000ab;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
	font-size: 30px;
	height: 64px;
}
.divalert_Sucess{
    margin-bottom: 20px;
    height: 32px;
    background-color: #4caf50a3;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
	font-size: 30px;
	height: 64px;
}